.projects-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-title {
    color: #ffff;
    font-family: 'Titillium Web', monospace,  serif;
    text-shadow: 1px 1px 0 #777, 2px 2px 0 #777, 3px 3px 0 #777, 4px 4px 0 #777, 5px 5px 0 #777, 6px 6px 0 #777, 7px 7px 0 #777, 8px 8px 0 #777, 9px 9px 0 #777, 0 30px 30px #000;
    text-align: center;
    font-size: 80px;
}

#projects-container {
    width: 77%;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    border: solid 11px #ffff;
    border-radius: 15px;
    box-shadow: 1px 1px 0 #999, 2px 2px #888, 3px 3px #777, 4px 4px #666, 5px 5px #555, 6px 6px #444, 7px 7px #333, 8px 8px #222;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-around;
}

#project-card {
    width: 400px;
    height: 350px;
    margin: 15px;
    background-color: #666;
    position: relative;
    text-align: center;
    border-radius: 10px;
    transition: .3s all ease-in;
}

#project-card:hover{
    transform: scale(1.1);

}

#filter {
    background: #000;
}

#main-title {
    font-weight: bold;
    font-size: 30px;
}

#tech-title {
    font-weight: bold;

}

#card-text {
    color: #ffff;
    font-size: 20px;
    padding: 20px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%;  */
    /* transform: translate(-50%, -50%);  */
    border-bottom: 1px solid white;

}

#tech-text {
    color: #ffff;
    font-size: 20px;

}

#filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    transition: .2s all ease-in;
}

#filter:hover {
    opacity: 0;
    transform: scale(1.2)
}

#gif {
    height: 100%;
}

@media only screen and (max-width: 375px) {
    #project-card {
        width: 250px;
    }
    
    #projects-title{
        font-size: 50px;
    } 

    #main-title {
        font-size: 20px;
    }

    #card-text {
        font-size: 20px;
    }

    #tech-title {
        font-size: 15px;
    }

    #tech-text {
        font-size: 14px;
    }
 }

