#about-me {
        
    margin-bottom: 300px;
    width: 70%; 
    color: #ffff;
    font-size: large;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px #000;
}




  