#skills-wrapper {
        display:flex;
        justify-content: space-evenly;
        margin-bottom: 500px;
}

#card { 
	display: inline-block;
	width: 330px;
	height: 250px;
	background: transparent;
    border: unset;
    /* Photo by Marv Watson on Unsplash */
    background: #34495E;  /* fallback for old browsers */
    background-image: url('../../custom-pics/mexico1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 8px solid #ffffff;
    border-radius: 8px;
    box-shadow: 1px 1px 0 #283747, 2px 2px #283747, 3px 3px #283747, 4px 4px #283747, 5px 5px #283747, 6px 6px #283747, 7px 7px #283747, 8px 8px #283747, 25px 30px 12px #555;
    padding-top: 5px;
    margin-bottom: 50px;
}

#skill-titles {
    color: #ffff;
    font-family: 'Titillium Web', monospace,  serif;
    font-size: 35px;
	text-decoration: underline;
    /* text-shadow: 0 1px 0 #888, 0 2px 0 #888, 0 3px 0 #888, 0 4px 0 #888, 0 5px 0 #888, 0 20px 15px #000; */
}

#centered-list-1 {
	height: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

#centered-list-2 {
	height: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

ul {
    color: #ffff;
    list-style: none;
    font-size: 25px;
	margin-left: 0;
}

@media only screen and (max-width: 718px){
	#skills-wrapper{
		display: flex;
		align-items: center;
		align-content: space-between;
		flex-direction: column;
	}
}

@media only screen and (max-width: 420px) {
	#card {
		background: -webkit-linear-gradient(#34495E, #283747); 
		background: linear-gradient(#34495E, #283747);
	}

	#card {
		width: 355px;
		height: 275px;
	}
}

@media (prefers-reduced-motion: no-preference) {
        .fade-in {
                -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
}

 @-webkit-keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      

