#card {
    background: transparent;
    border: unset;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    box-shadow: 0px 0px 7px 5px #000;
    margin-bottom: 300px;
    padding: 10px;
}

h3 {
    color: #ffff;
}

ul {
    color: #ffff;
}

#centered-list-1 {
    text-align: center;
}

#centered-list-2 {
    text-align: center;
}

#list {
    display:inline-block;
    text-align: left;
}