#skills-wrapper {
        display:flex;
        justify-content: space-evenly;
        margin-bottom: 700px;
}

#card { 
        display: inline-block;
        width: 320px;
        height: 250px;
        background: transparent;
    border: unset;
    /* Photo by Marv Watson on Unsplash */
    background: #8B9D64;  /* fallback for old browsers */
    background-image: url('../../custom-pics/mexico1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 8px solid #ffff;
    border-radius: 8px;
    box-shadow: 1px 1px #555, 2px 2px #555, 3px 3px #555, 4px 4px #555, 5px 5px #555, 6px 6px #555, 7px 7px #555, 8px 8px #555, 25px 30px 13px #333;
    padding: 10px;
    margin-bottom: 50px;
}

#skill-titles {
    color: #ffff;
    font-family: 'Titillium Web', monospace,  serif;
    font-size: 25px;
    /* text-shadow: 0 1px 0 #888, 0 2px 0 #888, 0 3px 0 #888, 0 4px 0 #888, 0 5px 0 #888, 0 20px 15px #000; */
}

ul {
    color: #ffff;
    list-style: none;
        font-size: 20px;
}

#list {
    display: inline-block;
    text-align: center;
}

@media only screen and (max-width: 718px){
        #skills-wrapper{
                display: flex;
                align-items: center;
                align-content: space-between;
                flex-direction: column;
        }
}

@media only screen and (max-width: 390px) {
        #card {
                background: -webkit-linear-gradient(#CAE394, #8B9D64); 
                background: linear-gradient(#CAE394, #8B9D64);
                background-image: none;
        }
}

@media (prefers-reduced-motion: no-preference) {
        .fade-in {
                -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
}

 @-webkit-keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      

