h1 {
    color: #ffff;
}

.contact-div {
    margin-bottom: 100px;
}

#contact-title {
    text-align: center;
    color: #ffff;
    font-family: 'Titillium Web', monospace,  serif;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 1px 1px 0 #283747, 2px 2px 0 #283747, 3px 3px 0 #283747, 4px 4px 0 #283747, 5px 5px 0 #283747, 6px 6px 0 #283747, 7px 7px 0 #283747, 25px 30px 12px #555;
}

#selfie {
    max-width: 250px;
    border: solid 2px #ffff;
    border-radius: 50%;
    margin: 20px 30px;
}



#contact-section {
    color: #ffff;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: solid 10px #ffff;
    border-radius: 10px;
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
    box-shadow: 1px 1px 0 #283747, 2px 2px #283747, 3px 3px #283747, 4px 4px #283747, 5px 5px #283747, 6px 6px #283747, 7px 7px #283747, 8px 8px #283747, 25px 30px 12px #555;
    /* transform: perspective(75em) rotateX(18deg); */

}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    width: 300px;
}

#myInput {
    text-align: center;
    border-radius: 10px;
}

.clipboard-button {
    color: #ffffff;
    background-color: #AEB6BF;
    border: solid 2px #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.row-links {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.links {
    height: 50px;
    width: auto;
    transition: .1s all ease-in;
}

.links:hover {
    transform: scale(1.1)
}

#links {
    color: inherit;
}

#links:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 50px;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

@media only screen and (max-width: 420px) {
    #contact-section {
        max-width: 90%;
    }

    #contact-title{
       font-size: 70px;
    } 

    .contact-div {
        margin-bottom: 300px;
    }

    .links {
        margin: 10px;
        height: 80px;
        width: auto;
        transition: .1s all ease-in;
    }
    
    .links:hover {
        transform: none;
    }
}