html {
  background-color: #EAE6C7;
}

body {
  margin: 0;
  font-family: 'Titillium Web', monospace,  serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Titillium Web', monospace,  serif;
}
